<component name="ArtifactManager">
  <artifact type="war" name="SpringBootSimpleUserManagementApp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-security-rest.war">
      <element id="artifact" artifact-name="SpringBootSimpleUserManagementApp:war exploded" />
    </root>
  </artifact>
</component>